.kinda-useful-top {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 100px;
  width: 400px;
  font-size: 2em;
  z-index: 999;
}

.error-alert {
  color: white;
  background: darkred;
}

.kinda-useful-modal {
  background-image:url('chrome-extension://__MSG_@@extension_id__/img/fabric_plaid.png');
  border-radius: 5px;
  font-size: 14px;
  padding: 20px;
}

.kinda-useful-modal .title {
  margin-bottom: 15px;
}

.task-list .topcoat-button-bar {
  float: left;
}

.task-list .task-item {
  margin-bottom: 3px;
}

.task-list .task-name {
  float: left;
  min-width: 250px;
  margin-left: 20px;
  line-height: 23px;
  font-size: 16px;
  font-weight: 400;
}

.kinda-useful-modal .bottom-buttons {
  margin-top: 7px;
}

.kinda-useful-modal .bottom-buttons button {
  float: right;
}

.clearfix {
  clear: both;
}
