<!--<div class="kinda-useful-top task-list">Task: TASKNAME</div>-->

<div class="kinda-useful-modal">
    <div>
        Sure, you could waste time, but why not just do something useful that isn't work?
    </div>

    <div class="task-list">
        <ul></ul>
    </div>

    <div>
        <button>Nope</button>
    </div>
</div>

<script type="text/template" id="kinda-useful-task-template">
    <li class="task-item">
        <button>Open</button>
        <button>Done</button>
        <span class="task-name"><%- taskName %></span>
    </li>
</script>
